{
  "openapi": "3.0.0",
  "info": {
    "title": "Veeqo API",
    "version": "1.0.0",
    "description": "The Veeqo API allows developers to create, update and get information about orders, products, shipments and other entities within Veeqo."
  },
  "servers": [
    {
      "url": "https://api.veeqo.com"
    }
  ],
  "paths": {
    "/orders": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Total-Count": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Total-Pages-Count": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Page-Index": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Per-Page": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Runtime": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number"
                    },
                    "cancel_reason": {
                      "nullable": true
                    },
                    "refund_amount": {
                      "nullable": true
                    },
                    "send_refund_email": {
                      "nullable": true
                    },
                    "cancelled_at": {
                      "nullable": true
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "customer_viewable_notes": {
                      "nullable": true
                    },
                    "delivery_cost": {
                      "type": "number"
                    },
                    "due_date": {
                      "type": "string"
                    },
                    "dispatch_date": {
                      "nullable": true
                    },
                    "international": {
                      "type": "boolean"
                    },
                    "notes": {
                      "nullable": true
                    },
                    "number": {
                      "type": "string"
                    },
                    "receipt_printed": {
                      "type": "boolean"
                    },
                    "send_notification_email": {
                      "type": "boolean"
                    },
                    "shipped_at": {
                      "nullable": true
                    },
                    "status": {
                      "type": "string"
                    },
                    "subtotal_price": {
                      "type": "number"
                    },
                    "total_discounts": {
                      "type": "number"
                    },
                    "total_price": {
                      "type": "number"
                    },
                    "total_tax": {
                      "type": "number"
                    },
                    "total_fees": {
                      "type": "number"
                    },
                    "buyer_user_id": {
                      "nullable": true
                    },
                    "updated_at": {
                      "type": "string"
                    },
                    "payment": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "order_id": {
                          "type": "number"
                        },
                        "payment_type": {
                          "type": "string"
                        },
                        "reference_number": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        },
                        "card_number": {
                          "nullable": true
                        },
                        "created_by_id": {
                          "type": "number"
                        }
                      }
                    },
                    "till_id": {
                      "nullable": true
                    },
                    "fulfilled_by_amazon": {
                      "type": "boolean"
                    },
                    "is_amazon_prime": {
                      "type": "boolean"
                    },
                    "is_amazon_premium_order": {
                      "type": "boolean"
                    },
                    "additional_order_level_taxless_discount": {
                      "type": "number"
                    },
                    "restock_shipped_items": {
                      "type": "boolean"
                    },
                    "adjustment_amount": {
                      "type": "number"
                    },
                    "tags": {
                      "type": "array",
                      "items": {}
                    },
                    "cancelled_by": {
                      "nullable": true
                    },
                    "created_by": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "login": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "location": {
                          "nullable": true
                        },
                        "guide_completed_message_viewed": {
                          "nullable": true
                        },
                        "orders_walkthrough_viewed": {
                          "type": "boolean"
                        },
                        "default_warehouse_id": {
                          "nullable": true
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        },
                        "company": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "number"
                            },
                            "name": {
                              "type": "string"
                            },
                            "created_at": {
                              "type": "string"
                            },
                            "updated_at": {
                              "type": "string"
                            },
                            "referring_website": {
                              "nullable": true
                            },
                            "card_valid": {
                              "type": "boolean"
                            },
                            "stripe_customer_id": {
                              "nullable": true
                            },
                            "has_right_to_use_veeqo": {
                              "type": "boolean"
                            },
                            "subscription_status": {
                              "type": "string"
                            },
                            "billing_period_started": {
                              "nullable": true
                            },
                            "subscription_plan_id": {
                              "type": "number"
                            },
                            "chargify_product_handle": {
                              "type": "string"
                            },
                            "chargify_current_plan": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "planId": {
                                  "type": "string"
                                },
                                "chargeType": {
                                  "type": "string"
                                },
                                "pricing": {
                                  "type": "string"
                                },
                                "setup_fee": {
                                  "nullable": true
                                },
                                "product_handle": {
                                  "type": "string"
                                },
                                "product_url": {
                                  "nullable": true
                                },
                                "features": {
                                  "type": "object",
                                  "properties": {
                                    "users": {
                                      "type": "string"
                                    },
                                    "products": {
                                      "type": "string"
                                    },
                                    "orders": {
                                      "type": "string"
                                    },
                                    "stores": {
                                      "type": "string"
                                    },
                                    "support": {
                                      "type": "string"
                                    },
                                    "product_pusher": {
                                      "type": "boolean"
                                    },
                                    "stock_take": {
                                      "type": "boolean"
                                    }
                                  }
                                },
                                "available": {
                                  "type": "boolean"
                                }
                              }
                            },
                            "setting": {
                              "type": "object",
                              "properties": {
                                "currency_code": {
                                  "type": "string"
                                },
                                "phone_number": {
                                  "type": "string"
                                }
                              }
                            },
                            "subscription_plan": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "number"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "stripe_plan_id": {
                                  "type": "string"
                                },
                                "billing_interval": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "updated_by": {
                      "nullable": true
                    },
                    "delivery_method": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "name": {
                          "type": "string"
                        },
                        "cost": {
                          "type": "number"
                        }
                      }
                    },
                    "deliver_to": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "first_name": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "company": {
                          "type": "string"
                        },
                        "address1": {
                          "type": "string"
                        },
                        "address2": {
                          "type": "string"
                        },
                        "city": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string"
                        },
                        "zip": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        }
                      }
                    },
                    "channel": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "type_code": {
                          "type": "string"
                        },
                        "created_by_id": {
                          "type": "number"
                        },
                        "name": {
                          "type": "string"
                        },
                        "currency_code": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string"
                        },
                        "url": {
                          "nullable": true
                        },
                        "shopify_url": {
                          "nullable": true
                        },
                        "ebay_url": {
                          "nullable": true
                        },
                        "ebay_site_code_id": {
                          "type": "number"
                        },
                        "country": {
                          "nullable": true
                        },
                        "region": {
                          "type": "string"
                        },
                        "city": {
                          "type": "string"
                        },
                        "address_line_1": {
                          "type": "string"
                        },
                        "address_line_2": {
                          "type": "string"
                        },
                        "post_code": {
                          "type": "string"
                        },
                        "pulled_products_at": {
                          "nullable": true
                        },
                        "pulled_orders_at": {
                          "nullable": true
                        },
                        "pending_setup": {
                          "type": "boolean"
                        },
                        "seller_id": {
                          "nullable": true
                        },
                        "marketplace_id": {
                          "nullable": true
                        },
                        "mws_auth_token": {
                          "nullable": true
                        },
                        "deleted_at": {
                          "nullable": true
                        },
                        "deleted_by_id": {
                          "nullable": true
                        },
                        "api2cart_store_key": {
                          "nullable": true
                        },
                        "bridge_url": {
                          "nullable": true
                        },
                        "bridge_verified": {
                          "nullable": true
                        },
                        "pull_pending_orders": {
                          "type": "boolean"
                        },
                        "default_send_shipment_email": {
                          "type": "boolean"
                        },
                        "automatic_product_linking_disabled": {
                          "type": "boolean"
                        },
                        "update_remote_order": {
                          "type": "boolean",
                          "description": "Whether Veeqo pushes fulfilment and tracking back to this sales channel after a label is purchased. A shipment-level `update_remote_order` overrides it when set."
                        },
                        "successfully_fetched_stock_levels_at": {
                          "nullable": true
                        },
                        "create_product_if_unmatched": {
                          "type": "boolean"
                        },
                        "skip_title_matching": {
                          "type": "boolean"
                        },
                        "email": {
                          "type": "string"
                        },
                        "skip_fba_orders_and_products": {
                          "type": "boolean"
                        },
                        "pull_stock_level_required": {
                          "type": "boolean"
                        },
                        "pull_product_properties": {
                          "type": "boolean"
                        },
                        "pull_historical_orders": {
                          "type": "boolean"
                        },
                        "adjust_orders_tax_rate": {
                          "nullable": true
                        },
                        "send_notification_emails_to_customers": {
                          "type": "boolean"
                        },
                        "end_ebay_listing_on_out_of_stock": {
                          "type": "boolean"
                        },
                        "update_product_attributes": {
                          "type": "boolean"
                        },
                        "max_qty_to_advert": {
                          "type": "number"
                        },
                        "min_threshold_qty": {
                          "type": "number"
                        },
                        "percent_of_qty": {
                          "type": "number"
                        },
                        "always_set_qty": {
                          "type": "number"
                        },
                        "veeqo_dictates_stock_level": {
                          "type": "boolean"
                        },
                        "with_fba": {
                          "type": "boolean"
                        },
                        "first_sync_finish_notice_marked_as_read": {
                          "type": "boolean"
                        },
                        "pull_unpaid_shopify_orders": {
                          "type": "boolean"
                        },
                        "create_product_on_ended_listings": {
                          "type": "boolean"
                        },
                        "link_to_products_linked_to_current_channel": {
                          "type": "boolean"
                        },
                        "weight_unit": {
                          "nullable": true
                        },
                        "import_cost_price": {
                          "type": "boolean"
                        },
                        "veeqo_dictates_price": {
                          "type": "boolean"
                        },
                        "keep_inventory_tracking_value": {
                          "type": "boolean"
                        },
                        "marketplace_country": {
                          "nullable": true
                        },
                        "time_zone": {
                          "nullable": true
                        },
                        "time_zone_offset": {
                          "nullable": true
                        },
                        "amazon_fulfillment_enabled": {
                          "type": "boolean"
                        },
                        "import_product_tags": {
                          "type": "boolean"
                        },
                        "import_product_brands": {
                          "type": "boolean"
                        },
                        "channel_warehouses": {
                          "type": "array",
                          "items": {}
                        },
                        "warehouses": {
                          "type": "array",
                          "items": {}
                        },
                        "stock_level_update_requests": {
                          "type": "array",
                          "items": {}
                        },
                        "amazon_fulfillment_setting": {
                          "nullable": true
                        },
                        "amazon_channel_specific": {
                          "nullable": true
                        },
                        "api2cart_channel_specific": {
                          "nullable": true
                        },
                        "additional_api2cart_site": {
                          "nullable": true
                        },
                        "time_since_product_sync": {
                          "nullable": true
                        },
                        "time_since_order_sync": {
                          "nullable": true
                        },
                        "time_since_tried_fetch_stock_level": {
                          "nullable": true
                        },
                        "time_since_successfully_fetch_stock_level": {
                          "nullable": true
                        },
                        "default_warehouse": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "number"
                            },
                            "name": {
                              "type": "string"
                            },
                            "user_id": {
                              "nullable": true
                            },
                            "address_line_1": {
                              "type": "string"
                            },
                            "address_line_2": {
                              "type": "string"
                            },
                            "city": {
                              "type": "string"
                            },
                            "region": {
                              "type": "string"
                            },
                            "country": {
                              "nullable": true
                            },
                            "post_code": {
                              "type": "string"
                            },
                            "inventory_type_code": {
                              "type": "string"
                            },
                            "default_min_reorder": {
                              "type": "number"
                            },
                            "click_and_collect_enabled": {
                              "type": "boolean"
                            },
                            "click_and_collect_days": {
                              "nullable": true
                            },
                            "created_by_id": {
                              "type": "number"
                            },
                            "updated_by_id": {
                              "nullable": true
                            },
                            "deleted_at": {
                              "nullable": true
                            },
                            "deleted_by_id": {
                              "nullable": true
                            },
                            "created_at": {
                              "type": "string"
                            },
                            "updated_at": {
                              "type": "string"
                            },
                            "phone": {
                              "nullable": true
                            },
                            "requested_carrier_account": {
                              "nullable": true
                            },
                            "display_position": {
                              "type": "number"
                            }
                          }
                        },
                        "remote": {
                          "type": "boolean"
                        }
                      }
                    },
                    "customer": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "email": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        },
                        "mobile": {
                          "type": "string"
                        },
                        "created_by_id": {
                          "type": "number"
                        },
                        "billing_address": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "number"
                            },
                            "first_name": {
                              "type": "string"
                            },
                            "last_name": {
                              "type": "string"
                            },
                            "address1": {
                              "type": "string"
                            },
                            "address2": {
                              "type": "string"
                            },
                            "city": {
                              "type": "string"
                            },
                            "company": {
                              "type": "string"
                            },
                            "country": {
                              "type": "string"
                            },
                            "state": {
                              "type": "string"
                            },
                            "zip": {
                              "type": "string"
                            },
                            "phone": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            }
                          }
                        },
                        "shipping_addresses": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "first_name": {
                                "type": "string"
                              },
                              "last_name": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "company": {
                                "type": "string"
                              },
                              "address1": {
                                "type": "string"
                              },
                              "address2": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              },
                              "zip": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "customer_note": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "text": {
                          "type": "string"
                        },
                        "order_id": {
                          "type": "number"
                        }
                      }
                    },
                    "allocations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "total_weight": {
                            "type": "number"
                          },
                          "weight_unit": {
                            "type": "string"
                          },
                          "allocated_by_id": {
                            "type": "number"
                          },
                          "order_id": {
                            "type": "number"
                          },
                          "packed_completely": {
                            "nullable": true
                          },
                          "line_items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "number"
                                },
                                "quantity": {
                                  "type": "number"
                                },
                                "picked_quantity": {
                                  "type": "number"
                                },
                                "created_at": {
                                  "type": "string"
                                },
                                "updated_at": {
                                  "type": "string"
                                },
                                "sellable": {
                                  "type": "object",
                                  "properties": {
                                    "total_quantity_sold": {
                                      "type": "number"
                                    },
                                    "allocated_stock_level_at_all_warehouses": {
                                      "type": "number"
                                    },
                                    "id": {
                                      "type": "number"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "title": {
                                      "type": "string"
                                    },
                                    "sku_code": {
                                      "type": "string"
                                    },
                                    "upc_code": {
                                      "type": "string"
                                    },
                                    "model_number": {
                                      "type": "string"
                                    },
                                    "price": {
                                      "type": "number"
                                    },
                                    "cost_price": {
                                      "type": "number"
                                    },
                                    "min_reorder_level": {
                                      "type": "number"
                                    },
                                    "quantity_to_reorder": {
                                      "type": "number"
                                    },
                                    "created_by_id": {
                                      "type": "number"
                                    },
                                    "created_at": {
                                      "type": "string"
                                    },
                                    "updated_at": {
                                      "type": "string"
                                    },
                                    "weight_grams": {
                                      "type": "number"
                                    },
                                    "weight_unit": {
                                      "type": "string"
                                    },
                                    "product_title": {
                                      "type": "string"
                                    },
                                    "full_title": {
                                      "type": "string"
                                    },
                                    "sellable_title": {
                                      "type": "string"
                                    },
                                    "profit": {
                                      "type": "number"
                                    },
                                    "margin": {
                                      "type": "number"
                                    },
                                    "tax_rate": {
                                      "type": "number"
                                    },
                                    "product": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "number"
                                        },
                                        "title": {
                                          "type": "string"
                                        },
                                        "weight": {
                                          "type": "number"
                                        },
                                        "origin_country": {
                                          "type": "string"
                                        },
                                        "hs_tariff_number": {
                                          "nullable": true
                                        },
                                        "tax_rate": {
                                          "type": "number"
                                        },
                                        "main_image": {
                                          "type": "object",
                                          "properties": {
                                            "id": {
                                              "type": "number"
                                            },
                                            "binary_data": {
                                              "nullable": true
                                            },
                                            "content_type": {
                                              "nullable": true
                                            },
                                            "display_position": {
                                              "nullable": true
                                            },
                                            "created_by_id": {
                                              "nullable": true
                                            },
                                            "updated_by_id": {
                                              "nullable": true
                                            },
                                            "deleted_at": {
                                              "nullable": true
                                            },
                                            "deleted_by_id": {
                                              "nullable": true
                                            },
                                            "created_at": {
                                              "type": "string"
                                            },
                                            "updated_at": {
                                              "type": "string"
                                            },
                                            "src": {
                                              "nullable": true
                                            },
                                            "product_id": {
                                              "type": "number"
                                            },
                                            "picture_file_name": {
                                              "type": "string"
                                            },
                                            "picture_content_type": {
                                              "type": "string"
                                            },
                                            "picture_file_size": {
                                              "type": "number"
                                            },
                                            "picture_updated_at": {
                                              "type": "string"
                                            },
                                            "picture_order": {
                                              "type": "number"
                                            }
                                          }
                                        },
                                        "estimated_delivery": {
                                          "nullable": true
                                        },
                                        "deleted_at": {
                                          "nullable": true
                                        },
                                        "deleted_by_id": {
                                          "nullable": true
                                        },
                                        "description": {
                                          "type": "string"
                                        },
                                        "main_image_src": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "stock_entries": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "sellable_id": {
                                            "type": "number"
                                          },
                                          "warehouse_id": {
                                            "type": "number"
                                          },
                                          "infinite": {
                                            "type": "boolean"
                                          },
                                          "allocated_stock_level": {
                                            "type": "number"
                                          },
                                          "warehouse": {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "number"
                                              },
                                              "name": {
                                                "type": "string"
                                              },
                                              "user_id": {
                                                "nullable": true
                                              },
                                              "address_line_1": {
                                                "type": "string"
                                              },
                                              "address_line_2": {
                                                "type": "string"
                                              },
                                              "city": {
                                                "type": "string"
                                              },
                                              "region": {
                                                "type": "string"
                                              },
                                              "country": {
                                                "nullable": true
                                              },
                                              "post_code": {
                                                "type": "string"
                                              },
                                              "inventory_type_code": {
                                                "type": "string"
                                              },
                                              "default_min_reorder": {
                                                "type": "number"
                                              },
                                              "click_and_collect_enabled": {
                                                "type": "boolean"
                                              },
                                              "click_and_collect_days": {
                                                "nullable": true
                                              },
                                              "created_by_id": {
                                                "type": "number"
                                              },
                                              "updated_by_id": {
                                                "nullable": true
                                              },
                                              "deleted_at": {
                                                "nullable": true
                                              },
                                              "deleted_by_id": {
                                                "nullable": true
                                              },
                                              "created_at": {
                                                "type": "string"
                                              },
                                              "updated_at": {
                                                "type": "string"
                                              },
                                              "phone": {
                                                "nullable": true
                                              },
                                              "requested_carrier_account": {
                                                "nullable": true
                                              },
                                              "display_position": {
                                                "type": "number"
                                              }
                                            }
                                          },
                                          "location": {
                                            "type": "string"
                                          },
                                          "stock_running_low": {
                                            "type": "boolean"
                                          },
                                          "updated_at": {
                                            "type": "string"
                                          },
                                          "incoming_stock_level": {
                                            "type": "number"
                                          },
                                          "physical_stock_level": {
                                            "type": "number"
                                          },
                                          "available_stock_level": {
                                            "type": "number"
                                          },
                                          "sellable_on_hand_value": {
                                            "type": "number"
                                          }
                                        }
                                      }
                                    },
                                    "variant_option_specifics": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "number"
                                          },
                                          "product_specific_id": {
                                            "type": "number"
                                          },
                                          "product_property_id": {
                                            "type": "number"
                                          },
                                          "product_property_name": {
                                            "type": "string"
                                          },
                                          "value": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    },
                                    "variant_property_specifics": {
                                      "type": "array",
                                      "items": {}
                                    },
                                    "measurement_attributes": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "number"
                                        },
                                        "width": {
                                          "type": "number"
                                        },
                                        "height": {
                                          "type": "number"
                                        },
                                        "depth": {
                                          "type": "number"
                                        },
                                        "dimensions_unit": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "images": {
                                      "type": "array",
                                      "items": {}
                                    },
                                    "active_channels": {
                                      "type": "array",
                                      "items": {}
                                    },
                                    "channel_sellables": {
                                      "type": "array",
                                      "items": {}
                                    },
                                    "available_stock_level_at_all_warehouses": {
                                      "type": "number"
                                    },
                                    "stock_level_at_all_warehouses": {
                                      "type": "number"
                                    },
                                    "on_hand_value": {
                                      "type": "number"
                                    },
                                    "inventory": {
                                      "type": "object",
                                      "properties": {
                                        "infinite": {
                                          "type": "boolean"
                                        },
                                        "physical_stock_level_at_all_warehouses": {
                                          "type": "number"
                                        },
                                        "allocated_stock_level_at_all_warehouses": {
                                          "type": "number"
                                        },
                                        "available_stock_level_at_all_warehouses": {
                                          "type": "number"
                                        },
                                        "incoming_stock_level_at_all_warehouses": {
                                          "type": "number"
                                        }
                                      }
                                    },
                                    "weight": {
                                      "type": "number"
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "recommended_shipping_options": {
                            "nullable": true
                          },
                          "matched_parcel_properties_criteria": {
                            "nullable": true
                          },
                          "shipment": {
                            "nullable": true
                          },
                          "allocation_package": {
                            "type": "object",
                            "nullable": true,
                            "description": "Package dimensions and weight for this allocation.",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "allocation_id": {
                                "type": "number"
                              },
                              "width": {
                                "type": "number",
                                "description": "Package width"
                              },
                              "height": {
                                "type": "number",
                                "description": "Package height"
                              },
                              "depth": {
                                "type": "number",
                                "description": "Package depth"
                              },
                              "weight": {
                                "type": "number",
                                "description": "Package weight"
                              },
                              "weight_unit": {
                                "type": "string",
                                "description": "Unit of weight (e.g. \"oz\", \"g\")"
                              },
                              "dimensions_unit": {
                                "type": "string",
                                "description": "Unit of dimensions (e.g. \"inches\", \"cm\")"
                              },
                              "package_selection_source": {
                                "type": "string"
                              },
                              "package_id": {
                                "type": "number"
                              },
                              "package_name": {
                                "type": "string"
                              },
                              "package_provider": {
                                "type": "string"
                              }
                            }
                          },
                          "warehouse": {
                            "type": "object",
                            "properties": {
                              "address_line_1": {
                                "type": "string"
                              },
                              "address_line_2": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "click_and_collect_days": {
                                "nullable": true
                              },
                              "click_and_collect_enabled": {
                                "type": "boolean"
                              },
                              "country": {
                                "nullable": true
                              },
                              "created_at": {
                                "type": "string"
                              },
                              "created_by_id": {
                                "type": "number"
                              },
                              "default_min_reorder": {
                                "type": "number"
                              },
                              "deleted_at": {
                                "nullable": true
                              },
                              "deleted_by_id": {
                                "nullable": true
                              },
                              "id": {
                                "type": "number"
                              },
                              "inventory_type_code": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "phone": {
                                "nullable": true
                              },
                              "post_code": {
                                "type": "string"
                              },
                              "region": {
                                "type": "string"
                              },
                              "display_position": {
                                "type": "number"
                              },
                              "updated_at": {
                                "type": "string"
                              },
                              "updated_by_id": {
                                "nullable": true
                              },
                              "requested_carrier_account": {
                                "nullable": true
                              }
                            }
                          }
                        }
                      }
                    },
                    "employee_notes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "text": {
                            "type": "string"
                          },
                          "order_id": {
                            "type": "number"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "created_by": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "login": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "location": {
                                "nullable": true
                              },
                              "guide_completed_message_viewed": {
                                "nullable": true
                              },
                              "orders_walkthrough_viewed": {
                                "type": "boolean"
                              },
                              "default_warehouse_id": {
                                "nullable": true
                              },
                              "created_at": {
                                "type": "string"
                              },
                              "updated_at": {
                                "type": "string"
                              },
                              "company": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "number"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "created_at": {
                                    "type": "string"
                                  },
                                  "updated_at": {
                                    "type": "string"
                                  },
                                  "referring_website": {
                                    "nullable": true
                                  },
                                  "card_valid": {
                                    "type": "boolean"
                                  },
                                  "stripe_customer_id": {
                                    "nullable": true
                                  },
                                  "has_right_to_use_veeqo": {
                                    "type": "boolean"
                                  },
                                  "subscription_status": {
                                    "type": "string"
                                  },
                                  "billing_period_started": {
                                    "nullable": true
                                  },
                                  "subscription_plan_id": {
                                    "type": "number"
                                  },
                                  "chargify_product_handle": {
                                    "type": "string"
                                  },
                                  "chargify_current_plan": {
                                    "type": "object",
                                    "properties": {
                                      "name": {
                                        "type": "string"
                                      },
                                      "planId": {
                                        "type": "string"
                                      },
                                      "chargeType": {
                                        "type": "string"
                                      },
                                      "pricing": {
                                        "type": "string"
                                      },
                                      "setup_fee": {
                                        "nullable": true
                                      },
                                      "product_handle": {
                                        "type": "string"
                                      },
                                      "product_url": {
                                        "nullable": true
                                      },
                                      "features": {
                                        "type": "object",
                                        "properties": {
                                          "users": {
                                            "type": "string"
                                          },
                                          "products": {
                                            "type": "string"
                                          },
                                          "orders": {
                                            "type": "string"
                                          },
                                          "stores": {
                                            "type": "string"
                                          },
                                          "support": {
                                            "type": "string"
                                          },
                                          "product_pusher": {
                                            "type": "boolean"
                                          },
                                          "stock_take": {
                                            "type": "boolean"
                                          }
                                        }
                                      },
                                      "available": {
                                        "type": "boolean"
                                      }
                                    }
                                  },
                                  "setting": {
                                    "type": "object",
                                    "properties": {
                                      "currency_code": {
                                        "type": "string"
                                      },
                                      "phone_number": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "subscription_plan": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "number"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "stripe_plan_id": {
                                        "type": "string"
                                      },
                                      "billing_interval": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "line_items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "price_per_unit": {
                            "type": "number"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "tax_rate": {
                            "type": "number"
                          },
                          "taxless_discount_per_unit": {
                            "type": "number"
                          },
                          "additional_options": {
                            "nullable": true
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "remote_id": {
                            "type": "string"
                          },
                          "sellable": {
                            "type": "object",
                            "properties": {
                              "total_quantity_sold": {
                                "type": "number"
                              },
                              "allocated_stock_level_at_all_warehouses": {
                                "type": "number"
                              },
                              "id": {
                                "type": "number"
                              },
                              "type": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "sku_code": {
                                "type": "string"
                              },
                              "upc_code": {
                                "type": "string"
                              },
                              "model_number": {
                                "type": "string"
                              },
                              "price": {
                                "type": "number"
                              },
                              "cost_price": {
                                "type": "number"
                              },
                              "min_reorder_level": {
                                "type": "number"
                              },
                              "quantity_to_reorder": {
                                "type": "number"
                              },
                              "created_by_id": {
                                "type": "number"
                              },
                              "created_at": {
                                "type": "string"
                              },
                              "updated_at": {
                                "type": "string"
                              },
                              "weight_grams": {
                                "type": "number"
                              },
                              "weight_unit": {
                                "type": "string"
                              },
                              "product_title": {
                                "type": "string"
                              },
                              "full_title": {
                                "type": "string"
                              },
                              "sellable_title": {
                                "type": "string"
                              },
                              "profit": {
                                "type": "number"
                              },
                              "margin": {
                                "type": "number"
                              },
                              "tax_rate": {
                                "type": "number"
                              },
                              "product": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "number"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "weight": {
                                    "type": "number"
                                  },
                                  "origin_country": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "hs_tariff_number": {
                                    "nullable": true
                                  },
                                  "tax_rate": {
                                    "type": "number"
                                  },
                                  "main_image": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "number"
                                      },
                                      "binary_data": {
                                        "nullable": true
                                      },
                                      "content_type": {
                                        "nullable": true
                                      },
                                      "display_position": {
                                        "nullable": true
                                      },
                                      "created_by_id": {
                                        "nullable": true
                                      },
                                      "updated_by_id": {
                                        "nullable": true
                                      },
                                      "deleted_at": {
                                        "nullable": true
                                      },
                                      "deleted_by_id": {
                                        "nullable": true
                                      },
                                      "created_at": {
                                        "type": "string"
                                      },
                                      "updated_at": {
                                        "type": "string"
                                      },
                                      "src": {
                                        "nullable": true
                                      },
                                      "product_id": {
                                        "type": "number"
                                      },
                                      "picture_file_name": {
                                        "type": "string"
                                      },
                                      "picture_content_type": {
                                        "type": "string"
                                      },
                                      "picture_file_size": {
                                        "type": "number"
                                      },
                                      "picture_updated_at": {
                                        "type": "string"
                                      },
                                      "picture_order": {
                                        "type": "number"
                                      }
                                    }
                                  },
                                  "estimated_delivery": {
                                    "nullable": true
                                  },
                                  "deleted_at": {
                                    "nullable": true
                                  },
                                  "deleted_by_id": {
                                    "nullable": true
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "main_image_src": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                }
                              },
                              "stock_entries": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "sellable_id": {
                                      "type": "number"
                                    },
                                    "warehouse_id": {
                                      "type": "number"
                                    },
                                    "infinite": {
                                      "type": "boolean"
                                    },
                                    "allocated_stock_level": {
                                      "type": "number"
                                    },
                                    "warehouse": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "number"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "user_id": {
                                          "nullable": true
                                        },
                                        "address_line_1": {
                                          "type": "string"
                                        },
                                        "address_line_2": {
                                          "type": "string"
                                        },
                                        "city": {
                                          "type": "string"
                                        },
                                        "region": {
                                          "type": "string"
                                        },
                                        "country": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "post_code": {
                                          "type": "string"
                                        },
                                        "inventory_type_code": {
                                          "type": "string"
                                        },
                                        "default_min_reorder": {
                                          "type": "number"
                                        },
                                        "click_and_collect_enabled": {
                                          "type": "boolean"
                                        },
                                        "click_and_collect_days": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "created_by_id": {
                                          "type": "number"
                                        },
                                        "updated_by_id": {
                                          "nullable": true
                                        },
                                        "deleted_at": {
                                          "nullable": true
                                        },
                                        "deleted_by_id": {
                                          "nullable": true
                                        },
                                        "created_at": {
                                          "type": "string"
                                        },
                                        "updated_at": {
                                          "type": "string"
                                        },
                                        "phone": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "requested_carrier_account": {
                                          "nullable": true
                                        },
                                        "display_position": {
                                          "type": "number"
                                        }
                                      }
                                    },
                                    "location": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "stock_running_low": {
                                      "type": "boolean"
                                    },
                                    "updated_at": {
                                      "type": "string"
                                    },
                                    "incoming_stock_level": {
                                      "type": "number"
                                    },
                                    "physical_stock_level": {
                                      "type": "number"
                                    },
                                    "available_stock_level": {
                                      "type": "number"
                                    },
                                    "sellable_on_hand_value": {
                                      "type": "number"
                                    },
                                    "id": {
                                      "type": "number"
                                    }
                                  },
                                  "required": [
                                    "sellable_id",
                                    "warehouse_id",
                                    "infinite",
                                    "allocated_stock_level",
                                    "warehouse",
                                    "location",
                                    "stock_running_low",
                                    "updated_at",
                                    "incoming_stock_level",
                                    "physical_stock_level",
                                    "available_stock_level",
                                    "sellable_on_hand_value"
                                  ]
                                }
                              },
                              "variant_option_specifics": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "number"
                                    },
                                    "product_specific_id": {
                                      "type": "number"
                                    },
                                    "product_property_id": {
                                      "type": "number"
                                    },
                                    "product_property_name": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "variant_property_specifics": {
                                "type": "array",
                                "items": {}
                              },
                              "measurement_attributes": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "number"
                                  },
                                  "width": {
                                    "type": "number"
                                  },
                                  "height": {
                                    "type": "number"
                                  },
                                  "depth": {
                                    "type": "number"
                                  },
                                  "dimensions_unit": {
                                    "type": "string"
                                  }
                                }
                              },
                              "images": {
                                "type": "array",
                                "items": {}
                              },
                              "active_channels": {
                                "type": "array",
                                "items": {}
                              },
                              "channel_sellables": {
                                "type": "array",
                                "items": {}
                              },
                              "available_stock_level_at_all_warehouses": {
                                "type": "number"
                              },
                              "stock_level_at_all_warehouses": {
                                "type": "number"
                              },
                              "on_hand_value": {
                                "type": "number"
                              },
                              "inventory": {
                                "type": "object",
                                "properties": {
                                  "infinite": {
                                    "type": "boolean"
                                  },
                                  "physical_stock_level_at_all_warehouses": {
                                    "type": "number"
                                  },
                                  "allocated_stock_level_at_all_warehouses": {
                                    "type": "number"
                                  },
                                  "available_stock_level_at_all_warehouses": {
                                    "type": "number"
                                  },
                                  "incoming_stock_level_at_all_warehouses": {
                                    "type": "number"
                                  }
                                }
                              },
                              "weight": {
                                "type": "number"
                              }
                            }
                          }
                        },
                        "required": [
                          "id",
                          "price_per_unit",
                          "quantity",
                          "tax_rate",
                          "taxless_discount_per_unit",
                          "additional_options",
                          "created_at",
                          "updated_at",
                          "sellable",
                          "remote_id"
                        ]
                      }
                    },
                    "returns": {
                      "type": "array",
                      "items": {}
                    },
                    "allocated_completely": {
                      "type": "boolean"
                    },
                    "picked_completely": {
                      "type": "boolean"
                    },
                    "fulfillment_channel_order": {
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "id": 13359622,
                  "cancel_reason": null,
                  "refund_amount": null,
                  "send_refund_email": null,
                  "cancelled_at": null,
                  "created_at": "2018-01-19T18:11:06.820Z",
                  "customer_viewable_notes": null,
                  "delivery_cost": 2,
                  "due_date": "2018-01-31T00:00:00.000Z",
                  "dispatch_date": null,
                  "international": false,
                  "notes": null,
                  "number": "rdr1234",
                  "receipt_printed": false,
                  "send_notification_email": true,
                  "shipped_at": null,
                  "status": "awaiting_stock",
                  "subtotal_price": 175.5,
                  "total_discounts": 49.5,
                  "total_price": 213.04,
                  "total_tax": 35.54,
                  "total_fees": 0,
                  "buyer_user_id": null,
                  "updated_at": "2018-01-19T18:11:07.098Z",
                  "payment": {
                    "id": 13177340,
                    "order_id": 13359622,
                    "payment_type": "paypal",
                    "reference_number": "PPP1234",
                    "created_at": "2018-01-19T18:11:06.831Z",
                    "updated_at": "2018-01-19T18:11:06.869Z",
                    "card_number": null,
                    "created_by_id": 23005
                  },
                  "till_id": null,
                  "fulfilled_by_amazon": false,
                  "is_amazon_prime": false,
                  "is_amazon_premium_order": false,
                  "additional_order_level_taxless_discount": 19.5,
                  "restock_shipped_items": false,
                  "adjustment_amount": 0,
                  "tags": [],
                  "cancelled_by": null,
                  "created_by": {
                    "id": 12345,
                    "login": "Phil Reynolds",
                    "email": "phil+api@veeqo.com",
                    "location": null,
                    "guide_completed_message_viewed": null,
                    "orders_walkthrough_viewed": false,
                    "default_warehouse_id": null,
                    "created_at": "2017-07-04T09:40:37.515Z",
                    "updated_at": "2017-12-20T11:56:02.938Z",
                    "company": {
                      "id": 12345,
                      "name": "Phil",
                      "created_at": "2017-07-04T09:40:37.495Z",
                      "updated_at": "2017-12-22T12:59:57.854Z",
                      "referring_website": null,
                      "card_valid": false,
                      "stripe_customer_id": null,
                      "has_right_to_use_veeqo": true,
                      "subscription_status": "trialing",
                      "billing_period_started": null,
                      "subscription_plan_id": 62,
                      "chargify_product_handle": "trial",
                      "chargify_current_plan": {
                        "name": "Unlimited",
                        "planId": "unlimited-monthly-veeqo",
                        "chargeType": "monthly",
                        "pricing": "\u00a39999",
                        "setup_fee": null,
                        "product_handle": "monthly-unlimited-9999",
                        "product_url": null,
                        "features": {
                          "users": "Unlimited",
                          "products": "Unlimited",
                          "orders": "Unlimited",
                          "stores": "Unlimited",
                          "support": "Unlimited",
                          "product_pusher": true,
                          "stock_take": true
                        },
                        "available": false
                      },
                      "setting": {
                        "currency_code": "GBP",
                        "phone_number": 7812345678
                      },
                      "subscription_plan": {
                        "id": 62,
                        "name": "Business[Monthly]",
                        "stripe_plan_id": "BUSINESS_MONTHLY_99999",
                        "billing_interval": "month"
                      }
                    }
                  },
                  "updated_by": null,
                  "delivery_method": {
                    "id": 171784,
                    "name": "Delivery Method #2",
                    "cost": 2
                  },
                  "deliver_to": {
                    "id": 26463776,
                    "first_name": "Samwise",
                    "last_name": "Gamgee",
                    "email": "Gamgee@fellowship.net",
                    "company": "The Fellowship",
                    "address1": "Bag End",
                    "address2": "Hobbiton",
                    "city": "Shire",
                    "country": "GB",
                    "state": "Middle Earth",
                    "zip": "SH1 1BG",
                    "phone": 7891234567
                  },
                  "channel": {
                    "id": 12345,
                    "type_code": "direct",
                    "created_by_id": 12345,
                    "name": "Phone",
                    "currency_code": "GBP",
                    "state": "active",
                    "url": null,
                    "shopify_url": null,
                    "ebay_url": null,
                    "ebay_site_code_id": 3,
                    "country": null,
                    "region": "",
                    "city": "",
                    "address_line_1": "",
                    "address_line_2": "",
                    "post_code": "",
                    "pulled_products_at": null,
                    "pulled_orders_at": null,
                    "pending_setup": true,
                    "seller_id": null,
                    "marketplace_id": null,
                    "mws_auth_token": null,
                    "deleted_at": null,
                    "deleted_by_id": null,
                    "api2cart_store_key": null,
                    "bridge_url": null,
                    "bridge_verified": null,
                    "pull_pending_orders": false,
                    "default_send_shipment_email": true,
                    "automatic_product_linking_disabled": false,
                    "update_remote_order": true,
                    "successfully_fetched_stock_levels_at": null,
                    "create_product_if_unmatched": true,
                    "skip_title_matching": true,
                    "email": "phil+api@veeqo.com",
                    "skip_fba_orders_and_products": true,
                    "pull_stock_level_required": true,
                    "pull_product_properties": true,
                    "pull_historical_orders": false,
                    "adjust_orders_tax_rate": null,
                    "send_notification_emails_to_customers": false,
                    "end_ebay_listing_on_out_of_stock": false,
                    "update_product_attributes": true,
                    "max_qty_to_advert": 0,
                    "min_threshold_qty": 0,
                    "percent_of_qty": 100,
                    "always_set_qty": 0,
                    "veeqo_dictates_stock_level": true,
                    "with_fba": false,
                    "first_sync_finish_notice_marked_as_read": false,
                    "pull_unpaid_shopify_orders": false,
                    "create_product_on_ended_listings": true,
                    "link_to_products_linked_to_current_channel": true,
                    "weight_unit": null,
                    "import_cost_price": true,
                    "veeqo_dictates_price": false,
                    "keep_inventory_tracking_value": false,
                    "marketplace_country": null,
                    "time_zone": null,
                    "time_zone_offset": null,
                    "amazon_fulfillment_enabled": false,
                    "import_product_tags": true,
                    "import_product_brands": true,
                    "channel_warehouses": [],
                    "warehouses": [],
                    "stock_level_update_requests": [],
                    "amazon_fulfillment_setting": null,
                    "amazon_channel_specific": null,
                    "api2cart_channel_specific": null,
                    "additional_api2cart_site": null,
                    "time_since_product_sync": null,
                    "time_since_order_sync": null,
                    "time_since_tried_fetch_stock_level": null,
                    "time_since_successfully_fetch_stock_level": null,
                    "default_warehouse": {
                      "id": 12345,
                      "name": "My Warehouse",
                      "user_id": null,
                      "address_line_1": "",
                      "address_line_2": "",
                      "city": "",
                      "region": "",
                      "country": null,
                      "post_code": "",
                      "inventory_type_code": "wavg",
                      "default_min_reorder": 0,
                      "click_and_collect_enabled": false,
                      "click_and_collect_days": null,
                      "created_by_id": 12345,
                      "updated_by_id": null,
                      "deleted_at": null,
                      "deleted_by_id": null,
                      "created_at": "2017-07-04T09:40:37.539Z",
                      "updated_at": "2017-07-04T09:40:37.539Z",
                      "phone": null,
                      "requested_carrier_account": null,
                      "display_position": 9999
                    },
                    "remote": false
                  },
                  "customer": {
                    "id": 12137221,
                    "email": "baggins@ringbearers.org",
                    "phone": 7891234567,
                    "mobile": 7891234567,
                    "created_by_id": 12345,
                    "billing_address": {
                      "id": 26463775,
                      "first_name": "Frodo",
                      "last_name": "Baggins",
                      "address1": "The New Bag End",
                      "address2": "1st Avenue",
                      "city": "Valinor",
                      "company": "The Ring Bearers",
                      "country": "GB",
                      "state": "The Undying Lands",
                      "zip": "VA1 1NB",
                      "phone": 7891234567,
                      "email": "baggins@ringbearers.org"
                    },
                    "shipping_addresses": [
                      {
                        "id": 26463776,
                        "first_name": "Samwise",
                        "last_name": "Gamgee",
                        "email": "Gamgee@fellowship.net",
                        "company": "The Fellowship",
[...]
