{
  "openapi": "3.0.0",
  "info": {
    "title": "Veeqo API (reconstructed from developers.veeqo.com)",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.veeqo.com"
    }
  ],
  "paths": {
    "/bulk_tagging": {
      "post": {
        "summary": "Bulk Tagging",
        "x-docs-slug": "bulk-tagging",
        "description": "Add tags to products or orders in bulk. To tag products , use product_ids in the request body. To tag orders , use order_ids in the request body instead.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "product_ids": {
                    "description": "Product IDs to tag (use this OR order_ids)",
                    "type": "array",
                    "items": {}
                  },
                  "order_ids": {
                    "description": "Order IDs to tag (use this OR product_ids)",
                    "type": "array",
                    "items": {}
                  },
                  "tag_ids": {
                    "description": "Tag IDs to apply",
                    "type": "array",
                    "items": {}
                  }
                },
                "required": [
                  "tag_ids"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "E.g. 123",
            "example": "123",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "summary": "Bulk Untagging",
        "x-docs-slug": "bulk-untagging",
        "description": "Remove tags from products or orders in bulk. To untag products , use product_ids in the request body. To untag orders , use order_ids in the request body instead.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "product_ids": {
                    "description": "Product IDs to untag (use this OR order_ids)",
                    "type": "array",
                    "items": {}
                  },
                  "order_ids": {
                    "description": "Order IDs to untag (use this OR product_ids)",
                    "type": "array",
                    "items": {}
                  },
                  "tag_ids": {
                    "description": "Tag IDs to remove",
                    "type": "array",
                    "items": {}
                  }
                },
                "required": [
                  "tag_ids"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "E.g. 123",
            "example": "123",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/orders/{order_id}/cancel": {
      "put": {
        "summary": "Cancel an Order",
        "x-docs-slug": "cancel-an-order",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "description": "Veeqo Order ID",
                    "type": "number",
                    "example": 123
                  },
                  "send_veeqo_email": {
                    "description": "Send Veeqo email to customer",
                    "type": "boolean",
                    "example": true
                  },
                  "cancel_reason": {
                    "description": "Reason for cancellation",
                    "type": "string",
                    "example": "Customer requested cancellation"
                  }
                },
                "example": {
                  "id": 123,
                  "send_veeqo_email": true,
                  "cancel_reason": "Customer requested cancellation"
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "description": "Order ID",
            "example": 323498,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "E.g. 123",
            "example": "123",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/kits": {
      "post": {
        "summary": "Create a Bundle",
        "x-docs-slug": "create-a-bundle",
        "description": "Convert a product variant into a bundle and populate its contents.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "product_variant_id": {
                    "description": "The ID of the product variant to convert into a bundle.",
                    "type": "number"
                  },
                  "contents": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "product_variant_id": {
                          "description": "The ID of the product variant to be included in this bundle.",
                          "type": "number"
                        },
                        "quantity": {
                          "description": "The number of times this product variant appears in this bundle.",
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "product_variant_id": "<product_variant_to_convert>",
                  "contents": [
                    {
                      "product_variant_id": 12345,
                      "quantity": 1
                    },
                    {
                      "product_variant_id": 67890,
                      "quantity": 2
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "ID of the bundle.",
                      "type": "number"
                    },
                    "full_title": {
                      "description": "The bundle\u2019s title.",
                      "type": "string"
                    },
                    "sku_code": {
                      "description": "The SKU code of the bundle.",
                      "type": "string"
                    },
                    "upc_code": {
                      "description": "The barcode of the bundle.",
                      "type": "string"
                    },
                    "price": {
                      "description": "The sale price of the bundle.",
                      "type": "string"
                    },
                    "cost_price": {
                      "description": "The cost price of the bundle.",
                      "type": "string"
                    },
                    "tax_rate": {
                      "description": "The tax rate applied to this bundle.",
                      "type": "string",
                      "example": "20"
                    },
                    "estimated_delivery": {
                      "description": "Number of days this bundle will take to ship.",
                      "type": "number"
                    },
                    "origin_country": {
                      "description": "Two-letter country code where this bundle was manufactured for international shipments.",
                      "type": "string"
                    },
                    "hs_tariff_number": {
                      "description": "The Harmonized System code (tarriff number) to use for international shipments.",
                      "type": "string"
                    },
                    "customs_description": {
                      "description": "The description to use on customs declarations documents for international shipments.",
                      "type": "string"
                    },
                    "hazmat": {
                      "description": "Whether this bundle contains hazardous goods.",
                      "type": "boolean"
                    },
                    "product": {
                      "description": "The product this bundle belongs to.",
                      "type": "object"
                    },
                    "stock_entries": {
                      "description": "Stock information about this bundle.",
                      "type": "object",
                      "properties": {
                        "warehouse_id": {
                          "description": "ID of the location in Veeqo this stock entry relates to.",
                          "type": "number"
                        },
                        "infinite": {
                          "description": "Whether the stock entry in this location is infinite.",
                          "type": "boolean"
                        },
                        "allocated_stock_level": {
                          "description": "The number of units this bundle has been allocated to orders from this location.",
                          "type": "number"
                        },
                        "stock_running_low": {
                          "description": "Whether the physical stock level is below the reorder level. For bundles, this field will always be null .",
                          "type": "boolean"
                        },
                        "updated_at": {
                          "description": "The date and time this stock entry was last updated.",
                          "type": "string",
                          "format": "date-time"
                        },
                        "incoming_stock_level": {
                          "description": "The number of incoming units from purchase orders. Stock transfers are reported separately in transit_incoming_stock_level .",
                          "type": "number"
                        },
                        "transit_outgoing_stock_level": {
                          "description": "The number of outgoing units from stock transfers.",
                          "type": "number"
                        }
                      }
                    },
                    "contents": {
                      "description": "The contents of this bundle.",
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "ID of this particular bundle content.",
                          "type": "number"
                        },
                        "product_variant_id": {
                          "description": "ID of the product variant this bundle content contains.",
                          "type": "number"
                        },
                        "kit_id": {
                          "description": "ID of the bundle this bundle content belongs to.",
                          "type": "number"
                        },
                        "quantity": {
                          "description": "The number of units of this product variant that this bundle content has.",
                          "type": "number"
                        },
                        "sku_code": {
                          "description": "The SKU code of this bundle content\u2019s product variant.",
                          "type": "string"
                        },
                        "title": {
                          "description": "The title of this bundle content\u2019s product variant.",
                          "type": "string"
                        },
                        "total_available_stock_level": {
                          "description": "The number of units of this product varaint that are available for sale.",
                          "type": "number"
                        },
                        "product_variant": {
                          "description": "The product variant this bundle content contains.",
                          "type": "object"
                        }
                      }
                    },
                    "measurement_attributes": {
                      "description": "The width, height and depth of this bundle.",
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "The ID of these measurement attributes.",
                          "type": "number"
                        },
                        "dimensions_unit": {
                          "type": "string",
                          "enum": [
                            "cm",
                            "inches"
                          ]
                        },
                        "width": {
                          "type": "number"
                        },
                        "height": {
                          "type": "number"
                        },
                        "depth": {
                          "type": "number"
                        }
                      }
                    },
                    "inventory": {
                      "type": "object",
                      "properties": {
                        "infinite": {
                          "description": "Whether the stock level is infinite.",
                          "type": "boolean"
                        },
                        "physical_stock_level_at_all_warehouses": {
                          "description": "The number of units on-hand across all locations.",
                          "type": "number"
                        },
                        "allocated_stock_level_at_all_warehouses": {
                          "description": "The number of units committed to orders across all locations.",
                          "type": "number"
                        },
                        "available_stock_level_at_all_warehouses": {
                          "description": "The number of available units across all locations.",
                          "type": "number"
                        },
                        "incoming_stock_level_at_all_warehouses": {
                          "description": "The number of units being receieved via purchase orders.",
                          "type": "number"
                        },
                        "transit_outgoing_stock_level_at_all_warehouses": {
                          "description": "The number of units being moved out of locations via stock transfers.",
                          "type": "number"
                        },
                        "transit_incoming_stock_level_at_all_warehouses": {
                          "description": "The number of units being moved in to locations via stock transfers, including incoming stock from FBA.",
                          "type": "number"
                        }
                      }
                    },
                    "weight_grams": {
                      "description": "Weight, in grams, of this bundle.",
                      "type": "number"
                    },
                    "active_channels": {
                      "description": "Connected stores where this bundle is linked to a listing.",
                      "type": "array"
                    },
                    "channel_sellables": {
                      "description": "Store listings this bundle is linked to.",
                      "type": "array"
                    },
                    "total_quantity_sold": {
                      "description": "Number of units this bundle has sold.",
                      "type": "number"
                    },
                    "on_hand_value": {
                      "description": "The number of units available multiplied by the bundle cost price.",
                      "type": "number"
                    }
                  },
                  "example": {
                    "requires_review": false,
                    "allocated_stock_level_at_all_warehouses": 1,
                    "id": 220439988,
                    "type": "Kit",
                    "title": "",
                    "sku_code": "KIT-123",
                    "upc_code": "KIT12345",
                    "model_number": "",
                    "price": 0.03,
                    "cost_price": 5,
                    "min_reorder_level": 0,
                    "quantity_to_reorder": 0,
                    "created_by_id": 85999,
                    "created_at": "2024-03-29T12:08:05.408Z",
                    "updated_at": "2025-09-05T10:55:18.034Z",
                    "deleted_at": null,
                    "weight_grams": 199.86,
                    "weight_unit": "oz",
                    "product_title": "My Example Bundle",
                    "full_title": "My Example Bundle",
                    "sellable_title": "",
                    "profit": -4.97,
                    "margin": -16566.67,
                    "tax_rate": 0,
                    "estimated_delivery": null,
                    "origin_country": null,
                    "hs_tariff_number": null,
                    "supplementary_units": 0,
                    "customs_description": null,
                    "hazmat": null,
                    "image_url": null,
                    "product": {
                      "id": 100598859,
                      "title": "My Example Bundle",
                      "weight": 0,
                      "origin_country": "US",
                      "hs_tariff_number": null,
                      "tax_rate": 0,
                      "estimated_delivery": null,
                      "deleted_at": null,
                      "deleted_by_id": null,
                      "description": "A bundle of many different things.",
                      "main_image_src": null
                    },
                    "reorders": [],
                    "stock_entries": [
                      {
                        "sellable_id": 220439988,
                        "warehouse_id": 88368,
                        "infinite": false,
                        "allocated_stock_level": 1,
                        "stock_running_low": null,
                        "updated_at": "2025-05-19T16:41:43.212Z",
                        "incoming_stock_level": 0,
                        "transit_outgoing_stock_level": 0,
                        "warehouse": {
                          "id": 88368,
                          "name": "My Location",
                          "display_position": 9999
                        },
                        "physical_stock_level": 3238,
                        "available_stock_level": 3237,
                        "sellable_on_hand_value": 0,
                        "transit_incoming_stock_level": 0,
                        "location": null
                      },
                      {
                        "sellable_id": 220439988,
                        "warehouse_id": 90236,
                        "infinite": false,
                        "allocated_stock_level": 0,
                        "stock_running_low": null,
                        "updated_at": "2025-05-19T16:41:43.164Z",
                        "incoming_stock_level": 0,
                        "transit_outgoing_stock_level": 0,
                        "warehouse": {
                          "id": 90236,
                          "name": "Test Warehouse",
                          "display_position": 9999
                        },
                        "physical_stock_level": 2,
                        "available_stock_level": 2,
                        "sellable_on_hand_value": 0,
                        "transit_incoming_stock_level": 0,
                        "location": null
                      }
                    ],
                    "contents": [
                      {
                        "id": 1339393,
                        "product_variant_id": 139794497,
                        "kit_id": 220439988,
                        "quantity": 1,
                        "created_at": "2024-03-29T12:14:31.713Z",
                        "updated_at": "2024-03-29T12:14:31.713Z",
                        "deleted_at": null,
                        "deleted_by_id": null,
                        "sku_code": "SUP-007",
                        "title": "VEEQO SHORT SLEEVE T-SHIRT [DEMO] MEDIUM",
                        "total_available_stock_level": 9345,
                        "product_variant": {
                          "id": 139794497,
                          "type": "ProductVariant",
                          "title": "MEDIUM",
                          "sku_code": "SUP-007",
                          "upc_code": "725272730706",
                          "model_number": "",
                          "price": 0,
                          "cost_price": 0,
                          "min_reorder_level": 0,
                          "quantity_to_reorder": 0,
                          "created_by_id": 85999,
                          "created_at": "2023-09-20T14:27:48.401Z",
                          "updated_at": "2025-09-05T10:29:43.504Z",
                          "deleted_at": null,
                          "weight_grams": 0,
                          "weight_unit": "oz",
                          "product_title": "VEEQO SHORT SLEEVE T-SHIRT [DEMO]",
                          "full_title": "VEEQO SHORT SLEEVE T-SHIRT [DEMO] MEDIUM",
                          "sellable_title": "MEDIUM",
                          "profit": 0,
                          "margin": 0,
                          "tax_rate": 0,
                          "estimated_delivery": null,
                          "origin_country": null,
                          "hs_tariff_number": null,
                          "supplementary_units": 0,
                          "customs_description": null,
                          "hazmat": null,
                          "image_url": "https://thumbnails.veeqo.com/ME846VyJpz7rp5Xqw7HUOAeK_L77BsUj0k8a69LHTiI/rs:fit:1000:1000/aHR0cHM6Ly9zdGF0/aWMudmVlcW8uY29t/L2Zyb250ZW5kL2Rl/bW9fZGF0YV9pbWFn/ZXMvcHJvZHVjdHMv/dnExNS10c2hpcnQu/cG5n",
                          "product": {
                            "id": 71784455,
                            "title": "VEEQO SHORT SLEEVE T-SHIRT [DEMO]",
                            "weight": 0,
                            "origin_country": "GB",
                            "hs_tariff_number": "2501001000",
                            "tax_rate": 0,
                            "estimated_delivery": null,
                            "deleted_at": null,
                            "deleted_by_id": null,
                            "description": "",
                            "main_image_src": "https://thumbnails.veeqo.com/ME846VyJpz7rp5Xqw7HUOAeK_L77BsUj0k8a69LHTiI/rs:fit:1000:1000/aHR0cHM6Ly9zdGF0/aWMudmVlcW8uY29t/L2Zyb250ZW5kL2Rl/bW9fZGF0YV9pbWFn/ZXMvcHJvZHVjdHMv/dnExNS10c2hpcnQu/cG5n"
                          },
                          "stock_entries": [
                            {
                              "sellable_id": 139794497,
                              "warehouse_id": 88368,
                              "infinite": false,
                              "allocated_stock_level": 35,
                              "stock_running_low": false,
                              "updated_at": "2025-08-14T16:34:52.103Z",
                              "incoming_stock_level": 0,
                              "transit_outgoing_stock_level": 0,
                              "warehouse": {
                                "id": 88368,
                                "name": "My Location",
                                "display_position": 9999
                              },
                              "physical_stock_level": 9341,
                              "available_stock_level": 9306,
                              "sellable_on_hand_value": 0,
                              "transit_incoming_stock_level": 0,
                              "location": "B001 D001 C043"
                            },
                            {
                              "sellable_id": 139794497,
                              "warehouse_id": 90236,
                              "infinite": false,
                              "allocated_stock_level": 1,
                              "stock_running_low": false,
                              "updated_at": "2024-04-16T09:06:27.894Z",
                              "incoming_stock_level": 0,
                              "transit_outgoing_stock_level": 0,
                              "warehouse": {
                                "id": 90236,
                                "name": "Test Warehouse",
                                "display_position": 9999
                              },
                              "physical_stock_level": 40,
                              "available_stock_level": 39,
                              "sellable_on_hand_value": 0,
                              "transit_incoming_stock_level": 0,
                              "location": null
                            },
                            {
                              "sellable_id": 139794497,
                              "warehouse_id": 334769,
                              "infinite": false,
                              "allocated_stock_level": 0,
                              "stock_running_low": true,
                              "updated_at": "2025-07-02T08:33:32.907Z",
                              "incoming_stock_level": 0,
                              "transit_outgoing_stock_level": 0,
                              "warehouse": {
                                "id": 334769,
                                "name": "API Created Warehouse",
                                "display_position": 9999
                              },
                              "physical_stock_level": 0,
                              "available_stock_level": 0,
                              "sellable_on_hand_value": 0,
                              "transit_incoming_stock_level": 0,
                              "location": null
                            }
                          ]
                        }
                      },
                      {
                        "id": 1339392,
                        "product_variant_id": 144532005,
                        "kit_id": 220439988,
                        "quantity": 1,
                        "created_at": "2024-03-29T12:14:31.558Z",
                        "updated_at": "2024-03-29T12:14:31.558Z",
                        "deleted_at": null,
                        "deleted_by_id": null,
                        "sku_code": "MB829Z/A",
                        "title": "APPLE MAGIC MOUSE [DEMO]",
                        "total_available_stock_level": 3239,
                        "product_variant": {
                          "id": 144532005,
                          "type": "ProductVariant",
                          "title": "Default",
                          "sku_code": "MB829Z/A",
                          "upc_code": "",
                          "model_number": "",
                          "price": 25.99,
                          "cost_price": 5,
                          "min_reorder_level": 0,
                          "quantity_to_reorder": 0,
                          "created_by_id": 85999,
                          "created_at": "2023-10-12T13:35:03.963Z",
                          "updated_at": "2025-09-05T10:29:43.294Z",
                          "deleted_at": null,
                          "weight_grams": 200,
                          "weight_unit": "oz",
                          "product_title": "APPLE MAGIC MOUSE [DEMO]",
                          "full_title": "APPLE MAGIC MOUSE [DEMO]",
                          "sellable_title": "",
                          "profit": 20.99,
                          "margin": 80.76,
                          "tax_rate": 0,
                          "estimated_delivery": null,
                          "origin_country": null,
                          "hs_tariff_number": null,
                          "supplementary_units": 0,
                          "customs_description": null,
                          "hazmat": null,
                          "image_url": "https://thumbnails.veeqo.com/4AmOLx091KSZUmiNVi_TRdC_qONCRRpmJ5m4YQLot7s/rs:fit:1000:1000/aHR0cHM6Ly90aHVt/Ym5haWxzLnZlZXFv/LmNvbS91QUFiQ3hC/Y3oyMWJwdGloSUdF/Zk1zcUZjcFhRbWs1/bURvVWhNanRWYmZj/L3JzOmZpdDoxMDAw/OjEwMDAvYUhSMGNI/TTZMeTl6ZEdGMC9h/V011ZG1WbGNXOHVZ/Mjl0L0wyWnliMjUw/Wlc1a0wyUmwvYlc5/ZlpHRjBZVjlwYldG/bi9aWE12Y0hKdlpI/VmpkSE12L1lYQndi/R1V0Ylc5MWMyVXUv/Y0c1bg",
                          "product": {
                            "id": 74263472,
                            "title": "APPLE MAGIC MOUSE [DEMO]",
                            "weight": 0,
                            "origin_country": "GB",
                            "hs_tariff_number": "2501001000",
                            "tax_rate": 0,
                            "estimated_delivery": null,
                            "deleted_at": null,
                            "deleted_by_id": null,
                            "description": "",
                            "main_image_src": "https://thumbnails.veeqo.com/4AmOLx091KSZUmiNVi_TRdC_qONCRRpmJ5m4YQLot7s/rs:fit:1000:1000/aHR0cHM6Ly90aHVt/Ym5haWxzLnZlZXFv/LmNvbS91QUFiQ3hC/Y3oyMWJwdGloSUdF/Zk1zcUZjcFhRbWs1/bURvVWhNanRWYmZj/L3JzOmZpdDoxMDAw/OjEwMDAvYUhSMGNI/TTZMeTl6ZEdGMC9h/V011ZG1WbGNXOHVZ/Mjl0L0wyWnliMjUw/Wlc1a0wyUmwvYlc5/ZlpHRjBZVjlwYldG/bi9aWE12Y0hKdlpI/VmpkSE12L1lYQndi/R1V0Ylc5MWMyVXUv/Y0c1bg"
                          },
                          "stock_entries": [
                            {
                              "sellable_id": 144532005,
                              "warehouse_id": 88368,
                              "infinite": false,
                              "allocated_stock_level": 4,
                              "stock_running_low": false,
                              "updated_at": "2025-05-21T14:05:34.175Z",
                              "incoming_stock_level": 0,
                              "transit_outgoing_stock_level": 0,
                              "warehouse": {
                                "id": 88368,
                                "name": "My Location",
                                "display_position": 9999
                              },
                              "physical_stock_level": 3241,
                              "available_stock_level": 3237,
                              "sellable_on_hand_value": 16205,
                              "transit_incoming_stock_level": 0,
                              "location": null
                            },
                            {
                              "sellable_id": 144532005,
                              "warehouse_id": 90236,
                              "infinite": false,
                              "allocated_stock_level": 2,
                              "stock_running_low": false,
                              "updated_at": "2025-05-19T16:41:43.095Z",
                              "incoming_stock_level": 0,
                              "transit_outgoing_stock_level": 0,
                              "warehouse": {
                                "id": 90236,
                                "name": "Test Warehouse",
                                "display_position": 9999
                              },
                              "physical_stock_level": 4,
                              "available_stock_level": 2,
                              "sellable_on_hand_value": 20,
                              "transit_incoming_stock_level": 0,
                              "location": null
                            },
                            {
                              "sellable_id": 144532005,
                              "warehouse_id": 334769,
                              "infinite": false,
                              "allocated_stock_level": 0,
                              "stock_running_low": true,
                              "updated_at": "2025-07-02T08:33:34.028Z",
                              "incoming_stock_level": 0,
                              "transit_outgoing_stock_level": 0,
                              "warehouse": {
                                "id": 334769,
                                "name": "API Created Warehouse",
                                "display_position": 9999
                              },
                              "physical_stock_level": 0,
                              "available_stock_level": 0,
                              "sellable_on_hand_value": 0,
                              "transit_incoming_stock_level": 0,
                              "location": null
                            }
                          ]
                        }
                      }
                    ],
                    "images": [],
                    "measurement_attributes": {
                      "id": 318424011,
                      "width": 0,
                      "height": 0,
                      "depth": 0,
                      "dimensions_unit": "inches"
                    },
                    "main_thumbnail_url": null,
                    "available_stock_level_at_all_warehouses": 3239,
                    "stock_level_at_all_warehouses": 3245,
                    "inventory": {
                      "infinite": false,
                      "physical_stock_level_at_all_warehouses": 3245,
                      "allocated_stock_level_at_all_warehouses": 1,
                      "available_stock_level_at_all_warehouses": 3239,
                      "incoming_stock_level_at_all_warehouses": 0,
                      "transit_outgoing_stock_level_at_all_warehouses": 0,
                      "transit_incoming_stock_level_at_all_warehouses": 0
                    },
                    "weight": 7.05,
                    "active_channels": [],
                    "channel_sellables": [],
                    "total_quantity_sold": 0,
                    "on_hand_value": 0
                  }
                }
              }
            }
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/customers": {
      "post": {
        "summary": "Create a Customer",
        "x-docs-slug": "create-a-customer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "customer@example.com"
                  },
                  "customer_type": {
                    "description": "Whether this customer is a retail or wholesale customer.",
                    "type": "string",
                    "enum": [
                      "retail",
                      "business"
                    ]
                  },
                  "phone": {
                    "type": "string",
                    "example": "01234 567890"
                  },
                  "mobile": {
                    "type": "string",
                    "example": "7123456789"
                  },
                  "notes": {
                    "description": "This is some extra info about the customer. 255 Character Limit",
                    "type": "string"
                  },
                  "billing_address_attributes": {
                    "type": "object",
                    "properties": {
                      "first_name": {
                        "type": "string",
                        "example": "John"
                      },
                      "last_name": {
                        "type": "string",
                        "example": "Doe"
                      },
                      "company": {
                        "type": "string",
                        "example": "FooBar Ltd"
                      },
                      "address1": {
                        "type": "string",
                        "example": "221 High Street Lane"
                      },
                      "address2": {
                        "type": "string",
                        "example": "2nd Address"
                      },
                      "city": {
                        "type": "string",
                        "example": "Swansea"
                      },
                      "country": {
                        "type": "string",
                        "example": "GB"
                      },
                      "zip": {
                        "type": "string",
                        "example": "SA1 1NW"
                      }
                    }
                  }
                },
                "required": [
                  "email",
                  "customer_type"
                ],
                "example": {
                  "customer": {
                    "email": "Phil+API@veeqo.com",
                    "phone": "01234 567890",
                    "mobile": 7123456789,
                    "notes": "This person buys things",
                    "customer_type": "retail",
                    "billing_address_attributes": {
                      "first_name": "Phil",
                      "last_name": "Reynolds",
                      "company": "Veeqo Ltd",
                      "address1": "Tech Hub",
                      "address2": "221 High Street",
                      "city": "Swansea",
                      "country": "GB",
                      "zip": "SA1 1NW"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number"
                    },
                    "email": {
                      "type": "string"
                    },
                    "customer_type": {
                      "type": "string",
                      "enum": [
                        "retail",
                        "business"
                      ]
                    },
                    "phone": {
                      "type": "string"
                    },
                    "mobile": {
                      "type": "string"
                    },
                    "notes": {
                      "type": "string"
                    },
                    "created_by_id": {
                      "type": "number"
                    },
                    "billing_address": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "first_name": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "string"
                        },
                        "company": {
                          "type": "string"
                        },
                        "address1": {
                          "type": "string"
                        },
                        "address2": {
                          "type": "string"
                        },
                        "city": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        },
                        "state": {
                          "nullable": true
                        },
                        "zip": {
                          "type": "string"
                        },
                        "phone": {
                          "nullable": true
                        },
                        "email": {
                          "nullable": true
                        }
                      }
                    },
                    "shipping_addresses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "company": {
                            "type": "string"
                          },
                          "address1": {
                            "type": "string"
                          },
                          "address2": {
                            "type": "string"
                          },
                          "city": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "zip": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "last_used_shipping_address": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "first_name": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "string"
                        },
                        "company": {
                          "type": "string"
                        },
                        "address1": {
                          "type": "string"
                        },
                        "address2": {
                          "type": "string"
                        },
                        "city": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string"
                        },
                        "zip": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "example": {
                    "id": 123,
                    "email": "Phil+API@veeqo.com",
                    "customer_type": "retail",
                    "phone": "01234 567890",
                    "mobile": 7123456789,
                    "notes": "This person buys things",
                    "created_by_id": 12005,
                    "billing_address": {
                      "id": 12345678,
                      "first_name": "Phil",
                      "last_name": "Reynolds",
                      "company": "Veeqo Ltd",
                      "address1": "Tech Hub",
                      "address2": "221 High Street",
                      "city": "Swansea",
                      "country": "GB",
                      "state": null,
                      "zip": "SA1 1NW",
                      "phone": null,
                      "email": null
                    },
                    "shipping_addresses": [
                      {
                        "id": 12345678,
                        "first_name": "Phil",
                        "last_name": "Reynolds",
                        "company": "Veeqo Ltd",
                        "address1": "Tech Hub",
                        "address2": "221 High Street",
                        "city": "Swansea",
                        "country": "GB",
                        "state": "",
                        "zip": "SA1 1NW",
                        "phone": ""
                      }
                    ],
                    "last_used_shipping_address": {
                      "id": 12345678,
                      "first_name": "Phil",
                      "last_name": "Reynolds",
                      "company": "Veeqo Ltd",
                      "address1": "Tech Hub",
                      "address2": "221 High Street",
                      "city": "Swansea",
                      "country": "GB",
                      "state": "",
                      "zip": "SA1 1NW",
                      "phone": ""
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List All Customers",
        "x-docs-slug": "list-all-customers",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number"
                    },
                    "email": {
                      "type": "string"
                    },
                    "phone": {
                      "type": "string"
                    },
                    "mobile": {
                      "type": "string"
                    },
                    "notes": {
                      "type": "string"
                    },
                    "created_by_id": {
                      "type": "number"
                    },
                    "billing_address": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "first_name": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "string"
                        },
                        "company": {
                          "type": "string"
                        },
                        "address1": {
                          "type": "string"
                        },
                        "address2": {
                          "type": "string"
                        },
                        "city": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        },
                        "state": {
                          "nullable": true
                        },
                        "zip": {
                          "type": "string"
                        },
                        "phone": {
                          "nullable": true
                        },
                        "email": {
                          "nullable": true
                        }
                      }
                    },
                    "shipping_addresses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "company": {
                            "type": "string"
                          },
                          "address1": {
                            "type": "string"
                          },
                          "address2": {
                            "type": "string"
                          },
                          "city": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "zip": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "last_used_shipping_address": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "first_name": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "string"
                        },
                        "company": {
                          "type": "string"
                        },
                        "address1": {
                          "type": "string"
                        },
                        "address2": {
                          "type": "string"
                        },
                        "city": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string"
                        },
                        "zip": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "example": {
                    "id": 123,
                    "email": "Phil+API@veeqo.com",
                    "phone": "01234 567890",
                    "mobile": 7123456789,
                    "notes": "This person buys things",
                    "created_by_id": 12005,
                    "billing_address": {
                      "id": 12345678,
                      "first_name": "Phil",
                      "last_name": "Reynolds",
                      "company": "Veeqo Ltd",
                      "address1": "Tech Hub",
                      "address2": "221 High Street",
                      "city": "Swansea",
                      "country": "GB",
                      "state": null,
                      "zip": "SA1 1NW",
                      "phone": null,
                      "email": null
                    },
                    "shipping_addresses": [
                      {
                        "id": 12345678,
                        "first_name": "Phil",
                        "last_name": "Reynolds",
                        "company": "Veeqo Ltd",
                        "address1": "Tech Hub",
                        "address2": "221 High Street",
                        "city": "Swansea",
                        "country": "GB",
                        "state": "",
                        "zip": "SA1 1NW",
                        "phone": ""
                      }
                    ],
                    "last_used_shipping_address": {
                      "id": 12345678,
                      "first_name": "Phil",
                      "last_name": "Reynolds",
                      "company": "Veeqo Ltd",
                      "address1": "Tech Hub",
                      "address2": "221 High Street",
                      "city": "Swansea",
                      "country": "GB",
                      "state": "",
                      "zip": "SA1 1NW",
                      "phone": ""
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "description": "Amount of results",
            "example": 25,
            "schema": {
              "type": "integer",
              "default": 12
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page to show",
            "example": 1,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Free text search",
            "example": "joebloggs@example.com",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customer_type",
            "in": "query",
            "description": "Filter by customer type",
            "example": "retail",
            "schema": {
              "type": "string",
              "enum": [
                "retail",
                "business"
              ]
            }
          }
        ]
      }
    },
    "/delivery_methods": {
      "post": {
        "summary": "Create a Delivery Method",
        "x-docs-slug": "create-a-delivery-method",
        "description": "Create a new delivery method.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "Name of the delivery method.",
                    "type": "string",
                    "example": "Next Day Delivery"
                  },
                  "cost": {
                    "description": "The cost to ship orders with this delivery method.",
                    "type": "number",
                    "example": 3
                  }
                },
                "required": [
                  "name"
                ],
                "example": {
                  "name": "Delivery Method #3",
                  "cost": "3.0"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "ID of this delivery method.",
                      "type": "number"
                    },
                    "cost": {
                      "description": "The cost to ship orders with this delivery method.",
                      "type": "string"
                    },
                    "name": {
                      "description": "The name of the delivery method.",
                      "type": "string"
                    },
                    "user_id": {
                      "description": "ID of the user who created the delivery method.",
                      "type": "number"
                    },
                    "created_at": {
                      "description": "The date and time when the delivery method was created.",
                      "type": "string"
                    },
                    "updated_at": {
                      "description": "The date and time when the delivery method was last updated.",
                      "type": "string"
                    }
                  },
                  "example": {
                    "id": 123458,
                    "cost": "3.0",
                    "name": "Delivery Method #3",
                    "user_id": 23005,
                    "created_at": "2017-08-24T12:36:33.934Z",
                    "updated_at": "2017-08-24T12:36:33.934Z"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List All Delivery Methods",
        "x-docs-slug": "list-all-delivery-methods",
        "description": "List all available delivery methods.",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "description": "ID of this delivery method.",
                        "type": "number"
                      },
                      "cost": {
                        "description": "The cost to ship orders with this delivery method.",
                        "type": "string"
                      },
                      "name": {
                        "description": "The name of the delivery method.",
                        "type": "string"
                      },
                      "user_id": {
                        "description": "ID of the user who created the delivery method.",
                        "type": "number"
                      },
                      "created_at": {
                        "description": "The date and time when the delivery method was created.",
                        "type": "string"
                      },
                      "updated_at": {
                        "description": "The date and time when the delivery method was last updated.",
                        "type": "string"
                      }
                    }
                  },
                  "example": [
                    {
                      "id": 123456,
                      "cost": "0.0",
                      "name": "Default delivery method",
                      "user_id": 23005,
                      "created_at": "2017-07-04T09:40:37.535Z",
                      "updated_at": "2017-07-04T09:40:37.535Z"
                    },
                    {
                      "id": 123457,
                      "cost": "2.0",
                      "name": "Delivery Method #2",
                      "user_id": 23005,
                      "created_at": "2017-08-24T12:32:51.118Z",
                      "updated_at": "2017-08-24T12:32:51.118Z"
                    },
                    {
                      "id": 123458,
                      "cost": "3.0",
                      "name": "Delivery Method #3",
                      "user_id": 23005,
                      "created_at": "2017-08-24T12:33:04.763Z",
                      "updated_at": "2017-08-24T12:33:04.763Z"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "description": "Amount of results",
            "example": 25,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page to show",
            "example": 1,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ]
      }
    },
    "/orders/{order_id}/allocations": {
      "post": {
        "summary": "Create a New Allocation",
        "x-docs-slug": "create-a-new-allocation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "allocation": {
                    "type": "object",
                    "properties": {
                      "warehouse_id": {
                        "description": "Warehouse ID",
                        "type": "number",
                        "example": 5
                      },
                      "packed_completely": {
                        "description": "Marks the allocation as fully packed.",
                        "type": "boolean"
                      },
                      "line_items_attributes": {
                        "type": "array",
                        "items": {}
                      }
                    },
                    "required": [
                      "warehouse_id",
                      "line_items_attributes"
                    ]
                  }
                },
                "example": {
                  "allocation": {
                    "warehouse_id": 5,
                    "line_items_attributes": [
                      {
                        "sellable_id": 1226615,
                        "quantity": 1
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "allocated_completely": {
                      "type": "boolean"
                    },
                    "allocations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "allocated_by": {
                            "type": "object",
                            "properties": {
                              "account_owner_user_id": {
                                "nullable": true
                              },
                              "activated_at": {
                                "nullable": true
                              },
                              "activation_code": {
                                "nullable": true
                              },
                              "api_key": {
                                "type": "string"
                              },
                              "company_id": {
                                "type": "number"
                              },
                              "created_at": {
                                "type": "string"
                              },
                              "created_by_id": {
                                "nullable": true
                              },
                              "default_till_id": {
                                "nullable": true
                              },
                              "deleted_at": {
                                "nullable": true
                              },
                              "deleted_by_id": {
                                "nullable": true
                              },
                              "email": {
                                "type": "string"
                              },
                              "guide_completed_message_viewed": {
                                "nullable": true
                              },
                              "guide_progress": {
                                "nullable": true
                              },
                              "id": {
                                "type": "number"
                              },
                              "location": {
                                "nullable": true
                              },
                              "login": {
                                "type": "string"
                              },
                              "orders_walkthrough_viewed": {
                                "type": "boolean"
                              },
                              "password_reset_token": {
                                "nullable": true
                              },
                              "state": {
                                "type": "string"
                              },
                              "updated_at": {
                                "type": "string"
                              },
                              "updated_by_id": {
                                "nullable": true
                              }
                            }
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "line_items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "created_at": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "quantity": {
                                  "type": "number"
                                },
                                "sellable": {
                                  "type": "object",
                                  "properties": {
                                    "active_channels": {
                                      "type": "array",
                                      "items": {}
                                    },
                                    "allocated_stock_level_at_all_warehouses": {
                                      "type": "number"
                                    },
                                    "available_stock_level_at_all_warehouses": {
                                      "type": "number"
                                    },
                                    "channel_sellables": {
                                      "type": "array",
                                      "items": {}
                                    },
                                    "cost_price": {
                                      "type": "number"
                                    },
                                    "created_at": {
                                      "type": "string"
                                    },
                                    "created_by_id": {
                                      "type": "number"
                                    },
                                    "full_title": {
                                      "type": "string"
                                    },
                                    "id": {
                                      "type": "number"
                                    },
                                    "images": {
                                      "type": "array",
                                      "items": {}
                                    },
                                    "inventory": {
                                      "type": "object",
                                      "properties": {
                                        "allocated_stock_level_at_all_warehouses": {
                                          "type": "number"
                                        },
                                        "available_stock_level_at_all_warehouses": {
                                          "type": "number"
                                        },
                                        "incoming_stock_level_at_all_warehouses": {
                                          "type": "number"
                                        },
                                        "infinite": {
                                          "type": "boolean"
                                        },
                                        "physical_stock_level_at_all_warehouses": {
                                          "type": "number"
                                        }
                                      }
                                    },
                                    "margin": {
                                      "type": "number"
                                    },
                                    "measurement_attributes": {
                                      "type": "object",
                                      "properties": {
                                        "depth": {
                                          "type": "number"
                                        },
                                        "dimensions_unit": {
                                          "type": "string"
                                        },
                                        "height": {
                                          "type": "number"
                                        },
                                        "id": {
                                          "type": "number"
                                        },
                                        "width": {
                                          "type": "number"
                                        }
                                      }
                                    },
                                    "min_reorder_level": {
                                      "type": "number"
                                    },
                                    "model_number": {
                                      "type": "string"
                                    },
                                    "on_hand_value": {
                                      "type": "number"
                                    },
                                    "price": {
                                      "type": "number"
                                    },
                                    "product": {
                                      "type": "object",
                                      "properties": {
                                        "description": {
                                          "type": "string"
                                        },
                                        "estimated_delivery": {
                                          "nullable": true
                                        },
                                        "hs_tariff_number": {
                                          "nullable": true
                                        },
                                        "id": {
                                          "type": "number"
                                        },
                                        "main_image": {
                                          "type": "object",
                                          "properties": {
                                            "binary_data": {
                                              "nullable": true
                                            },
                                            "content_type": {
                                              "nullable": true
                                            },
                                            "created_at": {
                                              "type": "string"
                                            },
                                            "created_by_id": {
                                              "nullable": true
                                            },
                                            "deleted_at": {
                                              "nullable": true
                                            },
                                            "deleted_by_id": {
                                              "nullable": true
                                            },
                                            "display_position": {
                                              "nullable": true
                                            },
                                            "id": {
                                              "type": "number"
                                            },
                                            "picture_content_type": {
                                              "nullable": true
                                            },
                                            "picture_file_name": {
                                              "nullable": true
                                            },
                                            "picture_file_size": {
                                              "nullable": true
                                            },
                                            "picture_order": {
                                              "type": "number"
                                            },
                                            "picture_updated_at": {
                                              "nullable": true
                                            },
                                            "product_id": {
                                              "type": "number"
                                            },
                                            "src": {
                                              "type": "string"
                                            },
                                            "updated_at": {
                                              "type": "string"
                                            },
                                            "updated_by_id": {
                                              "nullable": true
                                            }
                                          }
                                        },
                                        "main_image_src": {
                                          "type": "string"
                                        },
                                        "origin_country": {
                                          "nullable": true
                                        },
                                        "tax_rate": {
                                          "type": "number"
                                        },
                                        "title": {
                                          "type": "string"
                                        },
                                        "weight": {
                                          "type": "number"
                                        }
                                      }
                                    },
                                    "product_title": {
                                      "type": "string"
                                    },
                                    "profit": {
                                      "type": "number"
                                    },
                                    "quantity_to_reorder": {
                                      "type": "number"
                                    },
                                    "sellable_title": {
                                      "type": "string"
                                    },
                                    "sku_code": {
                                      "type": "string"
                                    },
                                    "stock_entries": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "allocated_stock_level": {
                                            "type": "number"
                                          },
                                          "available_stock_level": {
                                            "type": "number"
                                          },
                                          "incoming_stock_level": {
                                            "type": "number"
                                          },
                                          "infinite": {
                                            "type": "boolean"
                                          },
                                          "location": {
                                            "nullable": true
                                          },
                                          "physical_stock_level": {
                                            "type": "number"
                                          },
                                          "sellable_id": {
                                            "type": "number"
                                          },
                                          "sellable_on_hand_value": {
                                            "type": "number"
                                          },
                                          "stock_running_low": {
                                            "type": "boolean"
                                          },
                                          "updated_at": {
                                            "type": "string"
                                          },
                                          "warehouse": {
                                            "type": "object",
                                            "properties": {
                                              "address_line_1": {
                                                "type": "string"
                                              },
                                              "address_line_2": {
                                                "type": "string"
                                              },
                                              "city": {
                                                "type": "string"
                                              },
                                              "click_and_collect_days": {
                                                "nullable": true
                                              },
                                              "click_and_collect_enabled": {
                                                "type": "boolean"
                                              },
                                              "country": {
                                                "nullable": true
                                              },
                                              "created_at": {
                                                "type": "string"
                                              },
                                              "created_by_id": {
                                                "type": "number"
                                              },
                                              "default_min_reorder": {
                                                "type": "number"
                                              },
                                              "deleted_at": {
                                                "nullable": true
                                              },
                                              "deleted_by_id": {
                                                "nullable": true
                                              },
                                              "id": {
                                                "type": "number"
                                              },
                                              "inventory_type_code": {
                                                "type": "string"
                                              },
                                              "name": {
                                                "type": "string"
                                              },
                                              "phone": {
                                                "nullable": true
                                              },
                                              "post_code": {
                                                "type": "string"
                                              },
                                              "region": {
                                                "type": "string"
                                              },
                                              "requested_carrier_account": {
                                                "nullable": true
                                              },
                                              "updated_at": {
                                                "type": "string"
                                              },
                                              "updated_by_id": {
                                                "nullable": true
                                              },
                                              "user_id": {
                                                "nullable": true
                                              }
                                            }
                                          },
                                          "warehouse_id": {
                                            "type": "number"
                                          }
                                        }
                                      }
                                    },
                                    "stock_level_at_all_warehouses": {
                                      "type": "number"
                                    },
                                    "tax_rate": {
                                      "type": "number"
                                    },
                                    "title": {
                                      "type": "string"
                                    },
                                    "total_quantity_sold": {
                                      "type": "number"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "upc_code": {
                                      "type": "string"
                                    },
                                    "updated_at": {
                                      "type": "string"
                                    },
                                    "variant_option_specifics": {
                                      "type": "array",
                                      "items": {}
                                    },
                                    "variant_property_specifics": {
                                      "type": "array",
                                      "items": {}
                                    },
                                    "weight": {
                                      "type": "number"
                                    }
                                  }
                                },
                                "updated_at": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "order_id": {
                            "type": "number"
                          },
                          "recommended_shipping_options": {
                            "nullable": true
                          },
                          "shipment": {
                            "nullable": true
                          },
                          "total_weight": {
                            "type": "number"
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "warehouse": {
                            "type": "object",
                            "properties": {
                              "address_line_1": {
                                "type": "string"
                              },
                              "address_line_2": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "click_and_collect_days": {
                                "nullable": true
                              },
                              "click_and_collect_enabled": {
                                "type": "boolean"
                              },
                              "country": {
                                "nullable": true
                              },
                              "created_at": {
                                "type": "string"
                              },
                              "created_by_id": {
                                "type": "number"
                              },
                              "default_min_reorder": {
                                "type": "number"
                              },
                              "deleted_at": {
                                "nullable": true
                              },
                              "deleted_by_id": {
                                "nullable": true
                              },
                              "id": {
                                "type": "number"
                              },
                              "inventory_type_code": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "phone": {
                                "nullable": true
                              },
                              "post_code": {
                                "type": "string"
                              },
                              "region": {
                                "type": "string"
                              },
                              "requested_carrier_account": {
                                "nullable": true
                              },
                              "updated_at": {
                                "type": "string"
                              },
                              "updated_by_id": {
                                "nullable": true
                              },
                              "user_id": {
                                "nullable": true
                              }
                            }
                          }
                        }
                      }
                    },
                    "buyer_user_id": {
                      "nullable": true
                    },
                    "cancel_reason": {
                      "nullable": true
                    },
                    "cancelled_at": {
                      "nullable": true
                    },
                    "cancelled_by": {
                      "nullable": true
                    },
                    "channel": {
                      "type": "object",
                      "properties": {
                        "active_warehouses": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "address_line_1": {
                          "type": "string"
                        },
                        "address_line_2": {
                          "type": "string"
                        },
                        "api2cart_store_key": {
                          "nullable": true
                        },
                        "automatic_product_linking_disabled": {
                          "type": "boolean"
                        },
                        "bridge_url": {
                          "nullable": true
                        },
                        "bridge_verified": {
                          "type": "boolean"
                        },
                        "channel_warehouses": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "rank": {
                                "type": "number"
                              },
                              "warehouse": {
                                "type": "object",
                                "properties": {
                                  "address_line_1": {
                                    "type": "string"
                                  },
                                  "address_line_2": {
                                    "type": "string"
                                  },
                                  "city": {
                                    "type": "string"
                                  },
                                  "click_and_collect_days": {
                                    "nullable": true
                                  },
                                  "click_and_collect_enabled": {
                                    "type": "boolean"
                                  },
                                  "country": {
                                    "nullable": true
                                  },
                                  "created_at": {
                                    "type": "string"
                                  },
                                  "created_by_id": {
                                    "type": "number"
                                  },
                                  "default_min_reorder": {
                                    "type": "number"
                                  },
                                  "deleted_at": {
                                    "nullable": true
                                  },
                                  "deleted_by_id": {
                                    "nullable": true
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "inventory_type_code": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "phone": {
                                    "nullable": true
                                  },
                                  "post_code": {
                                    "type": "string"
                                  },
                                  "region": {
                                    "type": "string"
                                  },
                                  "requested_carrier_account": {
                                    "nullable": true
                                  },
                                  "updated_at": {
                                    "type": "string"
                                  },
                                  "updated_by_id": {
                                    "nullable": true
                                  },
                                  "user_id": {
                                    "nullable": true
                                  }
                                }
                              }
                            }
                          }
                        },
                        "city": {
                          "type": "string"
                        },
                        "country": {
                          "nullable": true
                        },
                        "create_product_if_unmatched": {
                          "type": "boolean"
                        },
                        "created_by_id": {
                          "type": "number"
                        },
                        "default_send_shipment_email": {
                          "type": "boolean"
                        },
                        "default_warehouse": {
                          "type": "object",
                          "properties": {
                            "address_line_1": {
                              "type": "string"
                            },
                            "address_line_2": {
                              "type": "string"
                            },
                            "city": {
                              "type": "string"
                            },
                            "click_and_collect_days": {
                              "nullable": true
                            },
                            "click_and_collect_enabled": {
                              "type": "boolean"
                            },
                            "country": {
                              "nullable": true
                            },
                            "created_at": {
                              "type": "string"
                            },
                            "created_by_id": {
                              "type": "number"
                            },
                            "default_min_reorder": {
                              "type": "number"
                            },
                            "deleted_at": {
                              "nullable": true
                            },
                            "deleted_by_id": {
                              "nullable": true
                            },
                            "id": {
                              "type": "number"
                            },
                            "inventory_type_code": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "phone": {
                              "nullable": true
                            },
                            "post_code": {
                              "type": "string"
                            },
                            "region": {
                              "type": "string"
                            },
                            "requested_carrier_account": {
                              "nullable": true
                            },
                            "updated_at": {
                              "type": "string"
                            },
                            "updated_by_id": {
                              "nullable": true
                            },
                            "user_id": {
                              "nullable": true
                            }
                          }
                        },
                        "deleted_at": {
                          "nullable": true
                        },
                        "deleted_by_id": {
                          "nullable": true
                        },
                        "email": {
                          "type": "string"
                        },
                        "id": {
                          "type": "number"
                        },
                        "marketplace_id": {
                          "nullable": true
                        },
                        "mws_auth_token": {
                          "nullable": true
                        },
                        "name": {
                          "type": "string"
                        },
                        "pending_setup": {
                          "type": "boolean"
                        },
                        "post_code": {
                          "type": "string"
                        },
                        "pull_pending_orders": {
                          "type": "boolean"
                        },
                        "pulled_orders_at": {
                          "nullable": true
                        },
                        "pulled_products_at": {
                          "nullable": true
                        },
                        "region": {
                          "type": "string"
                        },
                        "remote": {
                          "type": "boolean"
                        },
                        "seller_id": {
[...]
